* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}


section {
  height: 90vh; 
  width: 90vh; 
  display: grid; 
  place-items: center; 
}

section h2 { 
  text-transform: uppercase; 
}

.indicator { 
  height: 6px; 
  width: 100%; 
  position: fixed; 
  top: 0px; 
}

.indicator .progress { 
  height: 100%; 
  width: 0; 
  border-radius: 3px; 
  background: linear-gradient(to top, #008aff, #00ffe7); 
  animation: animate 4s linear infinite; 
}


@keyframes animate {
    0% {
       filter: hue-rotate(0deg);
    },
    
    50% {
       filter: hue-rotate(360deg);
    }
}

