* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color:  #010101; 
  color: ghostwhite;
}

section {
  height: 80vh;
  width: 80vw;
  margin: 5rem auto;
  border: 2px dotted white;
  display: grid;
  place-items: center;
  background: #090909;
  border-radius: 16px;
}

section h2 {
  font-size: 3rem;
}

.scroll-indicator {
  height: 6px;
  width:  calc(100% - 8rem);
  position: fixed;
  top: 6px;
  left: 4rem;
}

.scroll-indicator .progress-bar {
  height: 100%;
  width: 5px;
  border-radius: 6px;
  background: linear-gradient(to top, #008aff, #00ffe7);
}
